.cart-checkout {
    padding: 0.5rem;
}

.cart-header, .summary-header {
    font-size: 2.5rem;
    line-height: 1.15;
    text-align: center;
}

/* Cart Items Styles */

.carted-item {
    width: 85%;
    background-color: #BDD5EF;
    border: 1px solid black;
    margin: 0.75rem auto 1.25rem;
}

.carted-item-image {
    width: 100%;
}

.carted-item-image > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carted-item-desc, .carted-item-details {
    padding: 0.25rem;
    
    display: flex;
    justify-content: space-between;
}

.heart-icon, .remove-from-cart-icon {
    background-color: transparent;
    padding: 0;
    border: 0;
}

.heart-icon {
    margin-right: 0.5rem;
}

.carted-item-details {
    align-items: center;
}

.carted-item-price {
    text-decoration: underline;
}

.carted-item-quantity {
    display: flex;
}

.carted-item-quantity > * {
    height: 2rem;
    border: 0;
    outline: 1px solid black;
}

.carted-item-quantity > button {
    background-color: #0F253E;
    color: white;
    font-size: 1.25rem;
}

.item-quantity {
    color: black;
    background-color: white;
    width: 60px;
    font-size: 1.15rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Order Summary Styles */

.order-subtotal, .delivery-charge, .order-total {
    width: 85%;
    margin: 0.5rem auto;

    display: flex;
    justify-content: space-between;
}

.order-subtotal > h5, .delivery-charge > h5 {
    font-size: inherit;
    font-weight: 400;
    color: hsl(30, 10%, 42%);
}

.order-subtotal > p, .delivery-charge > p {
    font-weight: 600;
}

.order-total {
    font-size: clamp(1.25rem, 1.16rem + 0.45vw, 1.5rem);
    border-top: 1px solid #d0c8bd;
    padding: 0.5rem 0 0;
}

.order-total > h5 {
    font-size: inherit;
    font-weight: 600;
}

.order-total > p {
    font-weight: 700;
}

.order-checkout {
    background-color: #FC6226;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    border: 0;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem auto 0;

    display: block;
}

.order-checkout > a {
    color: inherit;
    text-decoration: none;
}

/* Media Queries */

@media (min-width: 560px) {
    .cart-checkout {
        padding: 1.5rem;

        display: flex;
        gap: 1.5rem;
    }

    .cart-items-container {
        padding: 0.5rem;
        border-radius: 1rem;
    }

    .order-summary {
        border-radius: 1rem;
        padding: 0.5rem 1.5rem 1rem;
        background-color: white;
        flex: 1 0 45%;
        align-self: flex-start;
    }

    .carted-item, .order-subtotal, .delivery-charge, .order-total {
        width: 100%;
        margin: 0.5rem 0;
    }

    .carted-item:nth-last-child(1) {
        margin-bottom: 0;
    }
}

@media (min-width: 840px) {
    .cart-items-container {
        border: 1px solid #d0c8bd;
        flex: 1 0 45%;
    }

    .order-summary {
        flex: 1 0 30%;
    }

    .carted-item {
        background-color: inherit;
        border: 0;
        border-bottom: 1px solid #d0c8bd;
        padding-bottom: 0.5rem;
        
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
    }

    .carted-item:nth-last-child(1) {
        border-bottom: 0;
    }

    .carted-item-image {
        flex: 1 0 40%;
    }

    .carted-item-image > img {
        border-radius: 1.25rem;
        height: 250px;
        object-fit: cover;
    }

    .carted-item-desc {
        flex: 1 0 20%;

        flex-direction: column;
        align-items: center;
    }

    .carted-item-desc > p, .carted-item-price {
        font-weight: 700;
        text-align: center;
    }

    .heart-icon {
        margin-right: 1rem;
    }

    .carted-item-details {
        flex: 1 0 20%;

        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5rem;
    }
}

@media (min-width: 1200px) {
    .cart-checkout {
        padding: 2.5rem 5rem;
    }

    .carted-item {
        gap: 1.5rem;
    }

    .carted-item-image > img {
        height: 300px;
    }

    .heart-icon {
        margin-right: 1.5rem;
    }
}

@media (min-width: 1600px) {
    .carted-item-image {
        flex: 1 0 30%;
    }

    .carted-item-desc {
        flex: 1 0 30%;

        align-items: flex-start;
    }

    .carted-item-desc > p {
        text-align: left;
    }

    .carted-item-quantity {
        flex: 1 1 30%;
    }
}