header a, header a:visited {
    color: inherit;
}

.navbar {
    padding: 0.5rem;
    border-bottom: 1px solid #d0c8bd;
    color: #37220d;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Dropdown Menu Styles */

.shopping-links {
    background-color: #FD9A72;
    padding: 0 1rem 0.5rem;

    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.shopping-links > li {
    padding: 1rem 0;
    border-bottom: 1px solid white;
    margin: 1rem 0;
}

.shopping-links > li:nth-child(1) {
    margin-top: 0;
}

.dropdown-menu:hover > .shopping-links {
    display: block;
}

/* Cart & Account Styles */

.account-links {
    border: 1px solid black;
    background-color: #246257;
    padding: 0.25rem;
    
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-link {
    position: relative;
}

.cart-quantity {
    line-height: 1;
    font-weight: 500;
    font-size: 0.75rem;
    text-align: center;
    background-color: #F5C92D;
    padding: 0.25rem;
    border-radius: 4px;

    position: absolute;
    right: -2px;
    bottom: -2px;
}

.cart-link > a {
    text-decoration: none;
}

.cart-label {
    color: white;
    font-size: 1.25rem;
    margin-right: 1rem;

    display: none;
}

/* Media Queries */

@media (min-width: 540px) {
    .navbar {
        padding: 1.5rem;
    }

    .account-links {
        padding: 0.25rem 1rem;
    }
    
    .cart-link > a {
        background-color: #246257;
        padding: 0.25rem 1rem 0.25rem 0;
        border-right: 1px solid black;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cart-label {
        display: block;
    }

    .cart-quantity {
        font-size: 1rem;
        
        right: 15px;
        bottom: 0px;
    }
}

@media (min-width: 1200px) {
    .navbar {
        padding: 2.5rem 5rem;
    }

    .account-links {
        padding: 0.25rem 1rem;
    }

    .dropdown-menu > img {
        display: none;
    }

    .shopping-links {
        background-color: #e6ded3;
        color: #37220d;
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0.25rem 0rem;

        position: static;
        display: flex;
        justify-content: space-between;
        gap: 2.5rem;
    }

    .dropdown-menu:hover > .shopping-links {
        display: flex;
    }

    .shopping-links > li {
        padding: 0;
        border: 0;
        margin: 0;
    }
}