footer {
    background-color: #131E0D;
    color: white;
}

.footer-main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem 0.75rem;

    padding: 0.5rem;
    border-bottom: 1px solid #1F2A19;
}

.footer-main-content a {
    color: white;
}

.footer-main-content h4 {
    font-size: clamp(1.25rem, 1.18rem + 0.31vw, 1.5rem);
}

.footer-logo > img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.footer-main-content .footer-heading {
    font-size: clamp(1.5rem, 0.88rem + 3.07vw, 2rem);
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-media > ul {
    display: flex;
    gap: 0.75rem;
}

.social-media li {
    background-color: #182812;
    border: 1px solid #ddd;
    padding: 0.25rem;
}

footer > p {
    padding: 0.5rem;
    text-align: center;
}

/* Media Queries */

@media (min-width: 540px) {
    .footer-main-content {
        padding: 1.5rem;
    }
}

@media (min-width: 840px) {
    .footer-logo > img {
        height: 200px;
        width: 200px;
    }
}

@media (min-width: 1200px) {
    .footer-main-content {
        padding: 2.5rem 5rem;
    }

    .footer-logo > img {
        height: 250px;
        width: 250px;
    }
}